@keyframes new-animation {
    0% {
        
        filter: grayscale(110%);
   
    }

    25% {
        filter: invert(100%);
    }

    50%{
        filter: opacity(70%);
        
    }

    75% {
        filter: hue-rotate(90deg);
    }

    100% {
        filter: sepia(100%);
      
    }


}

.imagelogo{
    height: 100px;
    width: 100px;
    transition: transform .2s;
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

}

.imagelogo:hover{
    animation-name: new-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.5);
  
}

